* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color: #f5f5f5;
  background-color: #000000;
  transition: background 1s ease;
}

.section {
  padding: 10rem;
}

.section-title {
  font-size: 7rem;
  margin-bottom: 5rem;
  font-weight: 600;
  text-align: center;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.btn-mobile {
  color: #f5f5f5;
  margin: 3rem;
  height: 4rem;
  width: 4rem;
  transition: 0.8s;
}

.btn-mobile:active {
  transform: scale(0.8);
}

.btn-mobile[name="close-outline"] {
  display: none;
}

.section-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 15rem;
  transition: 0.5s;
  z-index: 9999;
  background: #000000c0;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 8rem 1rem 4rem;
}

.logo {
  width: 12rem;
}

.nav-list {
  display: flex;
  font-size: 3rem;
  gap: 10rem;
  list-style: none;
  position: relative;
}

.fix {
  margin-left: 10rem;
}

.nav-el {
  text-decoration: none;
  transition: 0.5s;
  color: #f5f5f5;
}

.nav-el:hover {
  color: #cccccc;
}

.nav-el:active {
  color: #a1a1a1;
}

.main-vid {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  z-index: -1;
}

.main-text {
  color: rgb(255, 255, 255);
  z-index: 1;
  font-size: 12rem;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  text-shadow: 4px 4px 24px rgba(0, 0, 0, 1);
  margin: 0;
  left: 2rem;
  position: absolute;
  top: 30%;
}

.info-box {
  display: flex;
  gap: 10rem;
  justify-content: center;
  text-align: center;
}

.info {
  width: 50rem;
  padding: 5rem;
  border: 1px solid #202020;
  background-color: #000000e6;
  border-radius: 15px;
  box-shadow: 20px 20px 25px -15px #111111;
}

.info:hover {
  background-color: #222222;
  box-shadow: 20px 25px 25px -15px #000000;
  transform: scale(1.05);
  transition: 0.7s;
}

.icon {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.info-title {
  font-weight: 700;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.info-text {
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 300;
}

.reveal {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(200px);
}

.reveal2 {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(300px);
}

.reveal3 {
  opacity: 0;
  transition: all 1s;
  transform: translateY(400px);
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.section-offer {
  text-align: center;
}

.offer-text {
  margin-top: 10rem;
  font-size: 4rem;
  font-weight: 300;
}

/* PORTFOLIO */
.portfolio {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 5rem;
  margin-bottom: 20rem;
}

.vid-box {
  position: relative;
}

.overlay {
  position: absolute;
  width: 80rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  -webkit-box-shadow: inset 0px 0px 80px 35px rgba(0, 0, 0, 0.784);
  -moz-box-shadow: inset 0px 0px 80px 35px rgba(0, 0, 0, 0.784);
  box-shadow: inset 0px 0px 80px 35px rgba(0, 0, 0, 0.784);
  background-color: #00000085;
  opacity: 0;
  text-align: center;
}

.overlay:hover {
  transition: 0.6s;
  opacity: 1;
}

.vid-img {
  width: 80rem;
  height: 40rem;
  border-radius: 10px;
  border: 2px solid #00000082;
}

.vid-link {
  font-size: 5rem;
  text-decoration: none;
  color: #f5f5f5;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
}

.vid-link::after {
  content: "";
  position: absolute;
  text-align: center;
  width: 50%;
  transform: scaleX(0);
  height: 5px;
  bottom: 15rem;
  left: 20rem;
  transform-origin: top right;
  background-color: rgb(0, 0, 0);
  transition: transform 0.5s ease-out;
}

.vid-link:hover::after {
  transform: scaleX(1);
}

/* KONTAKT */

.section-footer {
  margin-bottom: 0;
  width: 100%;
  background-color: #070707;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 200;
  font-size: 2rem;
  color: #a1a1a1;
}

.contact-info {
  padding-bottom: 1rem;
  text-decoration: none;
  color: #a1a1a1;
}

.social {
  display: flex;
}

.social-icon {
  color: #a1a1a1;
  padding: 2rem;
  font-size: 3rem;
}

.social-btn:hover {
  color: #6c6c6c;
  transition: 0.5s;
}

.social-btn:active {
  color: #525252;
}
