@media (min-width: 1800px) {
  .section-navigation {
    height: 10rem;
  }

  .logo {
    width: 10rem;
  }

  .nav-list {
    font-size: 2.25rem;
    gap: 5rem;
  }
}

@media (max-width: 1800px) {
  .section-navigation {
    height: 10rem;
    width: 100%;
  }

  .navigation {
    margin: 0;
  }

  .logo {
    width: 8rem;
  }

  .nav-list {
    font-size: 2rem;
    gap: 4rem;
  }

  .contact {
    font-size: 1.75rem;
  }

  .social-icon {
    font-size: 2.5rem;
  }
}

@media (max-width: 1500px) {
  .logo {
    width: 7rem;
  }

  .contact {
    font-size: 1.5rem;
  }

  .social-icon {
    font-size: 2.25rem;
  }
}

@media (max-width: 1200px) {
  .nav-list {
    font-size: 1.75rem;
    gap: 3rem;
  }

  .logo {
    width: 7rem;
  }

  .contact {
    font-size: 1.25rem;
  }

  .social-icon {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .logo {
    width: 6rem;
  }

  .contact {
    font-size: 1.25rem;
  }

  .social-icon {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .nav-list {
    font-size: 1.5rem;
  }

  .logo {
    width: 5rem;
  }

  .contact {
    font-size: 1.25rem;
  }

  .social-icon {
    font-size: 2rem;
    padding: 1rem;
  }
}

@media (max-width: 700px) {
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: #242424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    transition: all 0.5s;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .btn-mobile[name="close-outline"] {
    display: inline-block;
  }

  .nav-open .btn-mobile[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 5rem;
    font-size: 3rem;
    text-align: center;
  }

  .nav-el:active {
    font-size: 2.8rem;
  }

  .mobile {
    visibility: hidden;
  }

  .logo {
    width: 6rem;
  }

  .vid-title {
    font-size: 2rem;
  }

  .vid {
    width: 30rem;
    height: 60rem;
  }
}

@media (max-width: 500px) {
  .nav-list {
    font-size: 1.25rem;
  }

  .vid-link {
    font-size: 2rem;
  }

  .contact {
    font-size: 1rem;
  }

  .social-icon {
    font-size: 1.75rem;
  }

  .vid {
    width: 20rem;
    height: 40rem;
  }

  .video-box {
    padding-top: 10rem;
  }
}
